<div class="container text-start">
  <% if user_signed_in? %>
    <div id="comment-form">
      <%= form_with(model: [@post, @comment]) do |f| %>
        <div class="mb-3">
          <%= f.label :comment_text, class: "form-label fw-semibold" %>
          <%= f.text_area :comment_text, class: "form-control" %>
          <% if(@comment.errors.include? :comment_text) %>
            <div class=" my-3 alert alert-danger">
              <ul>
                <% @comment.errors.full_messages_for(:comment_text).each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="d-grid mb-3">
          <%= f.submit 'Incluir comentário', class: "button" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h4 class="title">Faça login para compartilhar sua experiência!</h4>
  <% end %>

<% if @comments.any? %>
  <h4 class="title">Outros comentários!</h4>
  <% @comments.each do |c| %>
    <div class='comment-box'>
      <div id="title-comment">
        <h4 class="title"><%= c.user.name %> </h4> <p>-  <%= c.created_at.strftime("%d/%m/%Y-%H:%M") %></p>
      </div>
      <br />
      <p><%= c.comment_text %></p>
      <% if current_user == c.user || current_user.try(:admin?) %>
        <div class="text-end">
          <%= button_to('Excluir', comment_path(c.id), method: :delete, class:"btn btn-outline-dark") %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>