<div class="border">
  <div class="container text-start">
    <div class="row align-items-center">
      <div class="col">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, class:"card-img", width: '590px', height: '480px'%>
        <% end %>
      </div>
      <div class="col">
        <div>
          <h3><%= @post.title %></h3>
          <h4><%= @post.state%> - <%= @post.city %></h4>
          <small class="text-muted"><%= @post.category.name%></small>
        </div>
        <div>
          <p><%= @post.text %></p>
          <p><strong>Dica de Restaurante: </strong><%= @post.restaurant_tip %></p>
          <p><strong>Dica de Passeio: </strong><%= @post.tour_tip %></p>
        </div>
      </div>
    </div>
    <div class="form text-end">
      <% if current_user.try(:admin?) %>
        <%= link_to 'Editar', edit_post_path(@post.id), class: "btn btn-outline-dark" %>
      <% end %>
    </div>

  </div>
</div>