<div class="border">
  <div class="container text-start">
    <div class="row align-items-center">
      <div class="col">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, class:"card-img", width: '590px', height: '480px'%>
        <% end %>
      </div>
      <div class="col">
        <div>
          <h3><%= @post.title %></h3>
          <h4><%= @post.state%> - <%= @post.city %></h4>
          <small class="text-muted"><%= @post.category.name%></small>
        </div>
        <div>
          <p><%= @post.text %></p>
          <p><strong>Dica de Restaurante: </strong><%= @post.restaurant_tip %></p>
          <p><strong>Dica de Passeio: </strong><%= @post.tour_tip %></p>
        </div>
      </div>
    </div>
    <div class="form text-end">
      <% if current_user.try(:admin?) %>
        <%= link_to 'Editar', edit_post_path(@post.id), class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</div>
<div class="border">
  <div class="container text-start">
    <% if user_signed_in? %>
      <div id="comment-form">
        <%= form_with(model: [@post, @comment]) do |f| %>
          <div class="mb-3">
            <%= f.label :comment_text, class: "form-label fw-semibold" %>
            <%= f.text_area :comment_text, class: "form-control" %>
          </div>
          <div class="d-grid mb-3">
            <%= f.submit 'Incluir comentário', class: "button" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h4 class="title">Faça login para compartilhar sua experiência!</h4>
    <% end %>

  <% if @comments.any? %>
    <h4 class="title">Outros comentários!</h4>
    <% @comments.each do |c| %>
      <div class='comment-box'>
        <div id="title-comment">
          <h4 class="title"><%= c.user.name %> </h4> <p>-  <%= c.created_at.strftime("%d/%m/%Y-%H:%M") %></p>
        </div>
        <br />
        <p><%= c.comment_text %></p>
      </div>
    <% end %>
  <% end %>
</div>